<!--
SPDX-FileCopyrightText: 2021 NOI Techpark <digital@noi.bz.it>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div *ngIf="!finished">
  Loading...
</div>

<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div *ngIf="results">

  <ng-image-slider [images]="imageObject" #nav></ng-image-slider>



<!--  <div class="imgBlock" *ngFor="let m of results.results.bindings">-->
<!--    {{m['widgetLabel'].value}} <br> <img src="{{m['widgetImage'].value}}" width="300px">-->
<!--  </div>-->

<!--  <div style="clear:both;"></div>-->

</div>

